.about-us {
  font-family: Arial, sans-serif;
  background: #292424;
  padding: 2rem;
  color: white;
}

.about-us h2 {
  color: #e63946;
  text-transform: uppercase;
  border-bottom: 2px solid #e63946;
  padding-bottom: 0.5rem;
}

.about-us div:hover {
  box-shadow: 0 8px 20px rgba(230, 57, 70, 0.7);
}
