.banner {
  position: relative;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
  font-size: 2.5rem;
  font-weight: bold;
  overflow: hidden;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

/* Style pour les images du slider */
.banner img {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 600px;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  z-index: 0;
}

.banner img.active {
  opacity: 1;
  z-index: 0;
}

.banner-content {
  
  z-index: 2;
  text-align: center;
  padding: 0 1rem;
  max-width: 900px;
}



.banner p {
  font-size: 1.9rem;
  margin-bottom: 1.5rem;
  font-weight: 300;
}
.banner h1 {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 4rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  margin-bottom: 1rem;
  cursor: default;
 box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.9);
  margin-bottom: 1rem;
  transition: transform 0.3s ease, color 0.3s ease;
  
  background: linear-gradient(120deg, red, white, red);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;

  animation: textShine 4s linear infinite;
}

@keyframes textShine {
  0% {
    background-position: -100% center;
  }
  100% {
    background-position: 100% center;
  }
}
.slide-left {
  position: absolute;
  left: 15px;
  bottom: 1%;
  width: auto;
  
  /* Pour que le texte ait un dégradé gris transparent */
  background: linear-gradient(to bottom, rgba(150,150,150,0.8), rgba(100,100,100,0.5));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  
  /* Si besoin pour bien afficher */
  font-weight: bold;
}

.slide-left h3{
font-size: 1.7rem;
}
.slide-left p{
  font-size: 1rem;
}